<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>multidraw</title>
    <style>
      html, body {
	      margin: 0;
	      width: 100%;
	      height: 100%;
      }
    </style>
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <canvas id="paper" class="paper">THIS IS NOT FOR YOUR EYES. YOU WILL DIE SOON</canvas>
    <script src="main.js"></script>
  </body>
</html>
